@model MedicineRepScheduleRepository.Models.Schedule

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRepId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRepId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMeeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfMeeting)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
