@model MedicineRepScheduleRepository.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medical Representative Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRepId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRepId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMeeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfMeeting)
        </dd>
    </dl>
</div>
<div>
   @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
